# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE/editor specific files
.idea/
.vscode/

# Ignore Conda environment files
.DS_Store
/env/
/venv/

# --- CRITICAL: Ignore all data and output files ---
/dataset/
/output/
/wandb/